.background {
    background-image: url('./sf3.jpg');
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    width: 1460px;
    color: #9e9e9e;
}

.heading {
    height: 800px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
}

.name {
    padding-top: 233px;
    padding-bottom: 0;
    margin-left: 20px;

}

.behind {
    position: absolute;
    height: 63%;
    width: 80%;
    background-color: #fff;
    opacity: .3;
    z-index: 0;
    margin-top: 25%;
    margin-left: 7%;
}

.me {
    height: 400px;
    margin-top: 50px;
}

.about {
    height: 100px;
}

.aboutme {
    font-family: 'Roboto', sans-serif;
    height: 700px;
}

.desc {
    font-size: 56px;
    margin-top: 80px;
    border-right: 3px solid black;
}
.fyable{
    height: 300px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.herding {
    height: 300px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.pinup {
    height: 300px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.li {
    height: 150px;
    margin-bottom: 100px;
    margin-left: 100px;
}

.git {
    height: 150px;
    width: 150px;
    margin-bottom: 100px;
    margin-left: 100px;
}

.projects {
    height: 800px;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
}

.filler {
    height: 100px;
}