.background {
    background-color: #e0e2ae;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    width: 1500px;
    color: #424242;
}

.heading {
    height: 420px;
    width: 1500px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
}

.name {
    padding-top: 93px;
    padding-bottom: 0;
}

.arr {
    height: 300px;
    width: 1500px;
    background-color:  #e0e2ae;
}


.me {
    height: 400px;
    margin-top: 50px;
}

.about {
    height: 40px;
    width: 1500px;
}

.aboutme {
    font-family: 'Roboto', sans-serif;
    height: 720px;
    width: 1500px;
    color: #424242;
}

.desc {
    font-size: 56px;
    margin-top: 80px;
    border-right: 3px solid black;
}
.fyable{
    height: 300px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 80px;
    color: #424242;
}

.herding {
    height: 300px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 40px;
}

.pinup {
    height: 300px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 75px;
}

.li {
    height: 50px;
    width: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
}

.git {
    height: 50px;
    width: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
}

.email {
    height: 50px;
    width: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
}

.projects {
    height: 720px;
    width: 1500px;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
}

.filler {
    height: 80px;
    width: 1500px;
}

.connect {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    height: 50px;
    width: 1500px;
}

.pro {
    background-color: #e0e2ae;
}

body, html {
  position: relative;
  width: 100%;
  height: 100%;
}

.arrow {
  white-space: nowrap;
  position: absolute;
  margin-left: 140px;
  transform: translateY(0);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}

/* this sets the position of the arrow when it's up, so it will move up or down by 14px when you add or remove this class */
.lift {
  transform: translateY(30px);
}

.size {
    height: 175px;
}