<!doctype HTML>
<html>
<head>
    <title>Jessie</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class='background heading row'>
        <div class='col-xs-3'></div>
        <div class='col-xs-6'>
                <p class='text-center title name'>Jessie Engstrom</p>
        </div>
        <div class='col-xs-3'>
        </div>
    </div>
    <div class='row filler'></div>
    <div class='row aboutme'>
        <div class='col-xs-1'></div>
        <div class='col-xs-5 desc'>
            <p><b>microbiologist -> software engineer</b></p>
            <p><b>catless cat lover</b></p>
            <p><b>outdoor enthusiast</b></p>
        </div>
        <div class='col-xs-2'></div>
        <div class='col-xs-4'>
            <img class='me img-circle' src='../static/jessie.jpg'/>
        </div>
    </div>
    <div class='background projects'>
        <div class='row'>
            <div class='col-xs-1'></div>
            <div class='col-xs-10 title'>
                <p class='text-center proj'>Projects</p>
            </div>
            <div class='col-xs-1'></div>
        </div>
        <div class='row'>
            <div class='col-xs-4'>
                <a href='https://github.com/jessieengstrom/herding-cats'>
                    <img class='img-circle herding' src='../static/HerdingCats.png' />
                </a>
            </div>
            <div class='col-xs-4'>
                <a href='https://github.com/jessieengstrom/Hackbright-Project'>
                    <img class='img-circle fyable' src='../static/Fyable.png' />
                </a>
            </div>
            <div class='col-xs-4'>
                <a href='https://github.com/jessieengstrom/pinterest_api'>
                    <img class='img-circle pinup' src='../static/Pinup.png' />
                </a>
            </div>
        </div>
    </div>
    <div class='row about'>
        <div class='col-xs-1'></div>
        <div class='col-xs-11'>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-4'></div>
        <div class='col-xs-2'>
            <a href='https://github.com/jessieengstrom'>
                <img class='git' src='../static/github.jpg'/>
            </a>
        </div>
        <div class='col-xs-2'>
            <a href="https://www.linkedin.com/in/jessieengstrom/">
                <img class='li img-circle' src="../static/linkedin.jpg">
            </a>
        </div>
        <div class='col-xs-4'></div>
    </div>

</body>
</html>