<!doctype HTML>
<html>
<head>
    <title>Jessie</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="data:image/x-icon;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAQAAMMOAADDDgAAAAAA
AAAAAACt4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//
reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t
4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h
3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf
/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//
reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t
4d//reHf/63h3/+q3dz/q97c/63h3/+t4d//reHf/63h3/+t4d//reHf/63h3/+t4d//reHf/63h
3/+t4d//reHf/63i4P+l1dP/fJmY/3yYl/+k1NL/reLg/63h3/+t4d//reHf/63h3/+t4d//rOHf
/6zh3/+s4d//rOHf/6zh3/+s4d//pdfV/5zKyP99m5r/k7y7/63j4f+s4d//rOHf/6zh3/+s4d//
rOHf/87r6v/O6+r/zuvq/87r6v/O6+r/zuvq/8/s6//R7+7/lKWk/63Dwv/Q7u3/zuvq/87r6v/O
6+r/zuvq/87r6v/6+fn/+vn5//r5+f/6+fn/+vn5//r5+f/6+fn/+/v7/8LCwv/a2tr/+/v7//r5
+f/6+fn/+vn5//r5+f/6+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/39/f/+Pj4
//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/
+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5
+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5
+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5
//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/
+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5+fn/+fn5//n5+f/5
+fn/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAA==" rel="icon" type="image/x-icon" />
</head>
<body>
    <div class='row filler pro'></div>
    <div class='background heading row'>
        <div class='col-xs-3'></div>
        <div class='col-xs-6'>
                <p class='text-center title name'><b>Jessie Engstrom</b></p>
        </div>
        <div class='col-xs-3'>
        </div>  
    </div>
    <div class='row prog arr'>
        <div class='col-xs-4'></div>
        <div class='col-xs-4'>
            <i class="text-center fa fa-angle-down arrow"><a href='#middle'><img src='../static/arrow.png' class='size'/></a></i>
        </div>
        <div class='col-xs-4'></div>
    </div>
    <div class='row filler' id='middle'></div>
    <div class='row aboutme'>
        <div class='row'>
            <div class='col-xs-12 title'>
                <p class='text-center'><b>About</b></p>
            </div>
        </div>
        <div class='col-xs-1'></div>
        <div class='col-xs-5 desc'>
            <p>microbiologist -> software engineer</p>
            <p>catless cat lover</p>
            <p>outdoor enthusiast</p>
        </div>
        <div class='col-xs-2'></div>
        <div class='col-xs-4'>
            <img class='me img-circle' src='../static/jessie.jpg'/>
        </div>
    </div>
    <div class='row filler pro'></div>
    <div class='background projects'>
        <div class='row'>
            <div class='col-xs-12 title'>
                <p class='text-center proj'><b>Projects</b></p>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-4'>
                <a href='https://github.com/jessieengstrom/herding-cats'>
                    <img class='img-circle herding' src='../static/HerdingCats.png' />
                </a>
            </div>
            <div class='col-xs-4'>
                <a href='https://github.com/jessieengstrom/Hackbright-Project'>
                    <img class='img-circle fyable' src='../static/Fyable.png' />
                </a>
            </div>
            <div class='col-xs-4'>
                <a href='https://github.com/jessieengstrom/pinterest_api'>
                    <img class='img-circle pinup' src='../static/Pinup.png' />
                </a>
            </div>
        </div>
    </div>
    <div class='row about'>
        <div class='col-xs-1'></div>
        <div class='col-xs-11'>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-4'></div>
        <div class='col-xs-2'>
            <a href='https://github.com/jessieengstrom'>
                <img class='git' src='../static/github.jpg'/>
            </a>
        </div>
        <div class='col-xs-2'>
            <a href="https://www.linkedin.com/in/jessieengstrom/">
                <img class='li img-circle' src="../static/linkedin.jpg">
            </a>
        </div>
        <div class='col-xs-4'></div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="../static/index.js"></script>

</body>
</html>